# = [ CLIENT VARIABLES ] ==============================
# - Accessible in client code (import.meta.env)
# - Must be prefixed with VITE_
# -----------------------------------------------------

# Site URL
VITE_SITE_URL="http://localhost:3000"

# =====================================================

# = [ SERVER VARIABLES ] ==============================
# - Accessible in server code (process.env)
# -----------------------------------------------------

# Database URL for PostgreSQL
DATABASE_URL="postgresql://username:password@localhost:5432/mydb"


